@charset "UTF-8";

@font-face {
  font-family: Vasek;
  font-display: swap;
  src: url("../fonts/Vasek-Italic.woff2") format("woff2"), url("../fonts/Vasek-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Winston;
  font-display: swap;
  src: url("../fonts/Winston-Bold.woff2") format("woff2"), url("../fonts/Winston-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Winston;
  font-display: swap;
  src: url("../fonts/Winston-Medium.woff2") format("woff2"), url("../fonts/Winston-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Winston;
  font-display: swap;
  src: url("../fonts/Winston-Regular.woff2") format("woff2"), url("../fonts/Winston-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Winston;
  font-display: swap;
  src: url("../fonts/Winston-SemiBold.woff2") format("woff2"), url("../fonts/Winston-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #240532;
  line-height: 1;
  font-family: "Winston";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Winston";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #f9f7f8;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 95rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:checked + .checkbox__label::after {
  scale: 1;
}

.checkbox__input.error + .checkbox__label::before {
  border: 0.5px solid red;
  scale: 1.05;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 0.5px solid var(--text-black, #240532);
}

.checkbox__label::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  background: url("../../../img/checkbox.svg") center no-repeat;
  scale: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5vh 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.75rem , 0.6117886179rem  +  5.6910569106vw , 6.125rem )) {
  h1 {
    font-size: clamp( 1.75rem , 0.6117886179rem  +  5.6910569106vw , 6.125rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 0.6117886179rem  +  5.6910569106vw , 6.125rem )) {
  h1 {
    font-size: calc(1.75rem + 4.375 * (100vw - 20rem) / 76.875);
  }
}

h1.italic {
  font-family: Vasek;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

@supports (font-size: clamp( 4.375rem , 2.862804878rem  +  7.5609756098vw , 10.1875rem )) {
  h1.italic {
    font-size: clamp( 4.375rem , 2.862804878rem  +  7.5609756098vw , 10.1875rem );
  }
}

@supports not (font-size: clamp( 4.375rem , 2.862804878rem  +  7.5609756098vw , 10.1875rem )) {
  h1.italic {
    font-size: calc(4.375rem + 5.8125 * (100vw - 20rem) / 76.875);
  }
}

h2 {
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  /* 44px */
}

@supports (font-size: clamp( 1rem , 0.6097560976rem  +  1.9512195122vw , 2.5rem )) {
  h2 {
    font-size: clamp( 1rem , 0.6097560976rem  +  1.9512195122vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.6097560976rem  +  1.9512195122vw , 2.5rem )) {
  h2 {
    font-size: calc(1rem + 1.5 * (100vw - 20rem) / 76.875);
  }
}

h3 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 24px */
}

.subtitle {
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 30px */
}

@supports (font-size: clamp( 1rem , 0.8536585366rem  +  0.7317073171vw , 1.5625rem )) {
  .subtitle {
    font-size: clamp( 1rem , 0.8536585366rem  +  0.7317073171vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8536585366rem  +  0.7317073171vw , 1.5625rem )) {
  .subtitle {
    font-size: calc(1rem + 0.5625 * (100vw - 20rem) / 76.875);
  }
}

.subtitle-italic {
  font-family: Vasek;
  font-size: 2.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.number {
  font-family: Vasek;
  font-style: italic;
  font-weight: 400;
  line-height: 110%;
  /* 70.4px */
}

@supports (font-size: clamp( 1.875rem , 1.3221544715rem  +  2.7642276423vw , 4rem )) {
  .number {
    font-size: clamp( 1.875rem , 1.3221544715rem  +  2.7642276423vw , 4rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.3221544715rem  +  2.7642276423vw , 4rem )) {
  .number {
    font-size: calc(1.875rem + 2.125 * (100vw - 20rem) / 76.875);
  }
}

.stroke-text {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.625rem , 1.3973577236rem  +  1.1382113821vw , 2.5rem )) {
  .stroke-text {
    font-size: clamp( 1.625rem , 1.3973577236rem  +  1.1382113821vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.625rem , 1.3973577236rem  +  1.1382113821vw , 2.5rem )) {
  .stroke-text {
    font-size: calc(1.625rem + 0.875 * (100vw - 20rem) / 76.875);
  }
}

.text-1 {
  font-style: normal;
  font-weight: 500;
  line-height: 137%;
  /* 21.92px */
}

@supports (font-size: clamp( 0.875rem , 0.8424796748rem  +  0.162601626vw , 1rem )) {
  .text-1 {
    font-size: clamp( 0.875rem , 0.8424796748rem  +  0.162601626vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8424796748rem  +  0.162601626vw , 1rem )) {
  .text-1 {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 76.875);
  }
}

.text-2 {
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 23.4px */
}

@supports (font-size: clamp( 0.875rem , 0.8099593496rem  +  0.325203252vw , 1.125rem )) {
  .text-2 {
    font-size: clamp( 0.875rem , 0.8099593496rem  +  0.325203252vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8099593496rem  +  0.325203252vw , 1.125rem )) {
  .text-2 {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 76.875);
  }
}

.text-3 {
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 21.92px */
}

@supports (font-size: clamp( 0.875rem , 0.8424796748rem  +  0.162601626vw , 1rem )) {
  .text-3 {
    font-size: clamp( 0.875rem , 0.8424796748rem  +  0.162601626vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8424796748rem  +  0.162601626vw , 1rem )) {
  .text-3 {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 76.875);
  }
}

.text-4 {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 14.4px */
}

.button-title {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 137%;
  /* 21.92px */
}

.italic {
  font-family: Vasek;
  font-size: 2.125rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.form-text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 21.92px */
}

.button {
  display: inline-block;
  padding: 14px 64px;
  text-align: center;
  border-radius: 40px;
  border: 1px solid var(--fill-light, #827089);
  background: #d6ff3f;
  -webkit-transition: background 0.3s ease, opacity 0.3s ease;
  transition: background 0.3s ease, opacity 0.3s ease;
}

.button:not(.disabled):hover {
  background: #fff;
}

.button.disabled {
  opacity: 0.6;
}

.header {
  padding-top: 20px;
  padding-bottom: 4px;
  -webkit-transition: padding-top 0.3s ease;
  transition: padding-top 0.3s ease;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.header._header-scroll {
  padding-top: 8px;
  background: rgba(249, 247, 248, 0.7);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.header._header-scroll .header__logo img {
  scale: 0.7;
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__logo img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__href {
  font-weight: 600;
  text-align: right;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header__href:hover {
  color: #918299;
}

.menu-open .menu__body {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  position: relative;
}

.menu__link {
  position: relative;
}

.menu__link::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  /* Высота линии */
  background-color: #665070;
  /* Цвет подчеркивания при исчезании линии*/
  -webkit-transition: width 0.3s, background-color 0.3s ease;
  transition: width 0.3s, background-color 0.3s ease;
  /* Время эффекта */
}

.menu__link:hover::after {
  width: 100%;
  left: 0;
  background-color: #665070;
}

.icon-menu {
  display: none;
}

.footer {
  margin-top: 2.5rem;
  position: relative;
}

.footer__bg {
  width: 100%;
  opacity: 0.02;
  top: -300px;
  left: 0;
  position: absolute;
  pointer-events: none;
  -webkit-animation: newroll 10s linear infinite;
          animation: newroll 10s linear infinite;
}

.footer__marquee {
  margin-top: -5.625rem;
  position: absolute;
  right: 0;
  width: 100%;
  overflow-x: hidden;
}

.footer__marquee_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
  -webkit-animation: marqueeFooter 20s linear infinite;
          animation: marqueeFooter 20s linear infinite;
}

.footer__marquee_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  width: 810px !important;
}

.footer__content {
  padding: 1.25rem 0 1.875rem;
  border-top: 1px solid #918299;
  margin-top: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.625rem , 0.462398374rem  +  0.8130081301vw , 1.25rem )) {
  .footer__content ul {
    gap: clamp( 0.625rem , 0.462398374rem  +  0.8130081301vw , 1.25rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.462398374rem  +  0.8130081301vw , 1.25rem )) {
  .footer__content ul {
    gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 76.875);
  }
}

.footer__content ul li a {
  position: relative;
}

.footer__content ul li a::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  /* Высота линии */
  background-color: #665070;
  /* Цвет подчеркивания при исчезании линии*/
  -webkit-transition: width 0.3s, background-color 0.3s ease;
  transition: width 0.3s, background-color 0.3s ease;
  /* Время эффекта */
}

.footer__content ul li a:hover::after {
  width: 100%;
  left: 0;
  background-color: #665070;
}

@-webkit-keyframes marqueeFooter {
  from {
    -webkit-transform: translateX(-1330px);
            transform: translateX(-1330px);
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes marqueeFooter {
  from {
    -webkit-transform: translateX(-1330px);
            transform: translateX(-1330px);
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes newroll {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes newroll {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.popup-show *.main__top_top a img {
  left: 150px;
}

.main {
  min-height: 100vh;
}

@supports (margin-top: clamp( 5rem , 4.512195122rem  +  2.4390243902vw , 6.875rem )) {
  .main {
    margin-top: clamp( 5rem , 4.512195122rem  +  2.4390243902vw , 6.875rem );
  }
}

@supports not (margin-top: clamp( 5rem , 4.512195122rem  +  2.4390243902vw , 6.875rem )) {
  .main {
    margin-top: calc(5rem + 1.875 * (100vw - 20rem) / 76.875);
  }
}

.main__container {
  padding-bottom: 40px;
}

.main__top_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 3rem , 8.4339622642rem  +  -4.5283018868vw , 4.5rem )) {
  .main__top_top {
    gap: clamp( 3rem , 8.4339622642rem  +  -4.5283018868vw , 4.5rem );
  }
}

@supports not (gap: clamp( 3rem , 8.4339622642rem  +  -4.5283018868vw , 4.5rem )) {
  .main__top_top {
    gap: calc(4.5rem + -1.5 * (100vw - 86.875rem) / 33.125);
  }
}

.main__top_top h1 span {
  color: #918299;
}

.main__top_top-a {
  padding: 10px;
  width: 210px;
  display: block;
  height: 70px;
  background: #d6ff3f;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.main__top_top-a:hover img {
  -webkit-box-shadow: 0px 0px 30px 10px rgba(193, 255, 227, 0.8);
          box-shadow: 0px 0px 30px 10px rgba(193, 255, 227, 0.8);
}

.main__top_top-a img {
  border-radius: 50%;
  position: relative;
  z-index: 2;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, left 0.3s ease;
  transition: box-shadow 0.3s ease, left 0.3s ease, -webkit-box-shadow 0.3s ease;
  position: absolute;
  left: 10px;
}

.main__top_top-a::before {
  content: "";
  position: absolute;
  top: -38px;
  right: -21px;
  width: 266px;
  height: 278px;
  background: url("../img/Trust.svg") center no-repeat;
  pointer-events: none;
}

.main__top_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__top_down p {
  width: 564px;
  color: #665070;
  position: relative;
}

.main__top_down p::before {
  position: absolute;
  content: "";
  width: 85px;
  height: 15px;
  background: url("../img/main/shine_1.svg") center no-repeat;
  left: calc(50% - 42.5px);
}

@supports (top: clamp( -1.875rem , -0.0636792453rem  +  -1.5094339623vw , -1.375rem )) {
  .main__top_down p::before {
    top: clamp( -1.875rem , -0.0636792453rem  +  -1.5094339623vw , -1.375rem );
  }
}

@supports not (top: clamp( -1.875rem , -0.0636792453rem  +  -1.5094339623vw , -1.375rem )) {
  .main__top_down p::before {
    top: calc(-1.375rem + -0.5 * (100vw - 86.875rem) / 33.125);
  }
}

.main__picture {
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
}

.main__picture_wrapper {
  width: 100%;
  border-radius: 50px 50px 0px 0px;
  position: relative;
  overflow: hidden;
  display: block;
}

@supports (height: clamp( 13.125rem , 7.6778455285rem  +  27.2357723577vw , 34.0625rem )) {
  .main__picture_wrapper {
    height: clamp( 13.125rem , 7.6778455285rem  +  27.2357723577vw , 34.0625rem );
  }
}

@supports not (height: clamp( 13.125rem , 7.6778455285rem  +  27.2357723577vw , 34.0625rem )) {
  .main__picture_wrapper {
    height: calc(13.125rem + 20.9375 * (100vw - 20rem) / 76.875);
  }
}

.main__picture:hover .main__picture_img {
  scale: 1.02;
}

.main__picture_img {
  position: absolute;
  right: 0;
  width: 100%;
  z-index: -1;
  scale: 1;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

@supports (top: clamp( -31.25rem , -2.8963414634rem  +  -29.2682926829vw , -8.75rem )) {
  .main__picture_img {
    top: clamp( -31.25rem , -2.8963414634rem  +  -29.2682926829vw , -8.75rem );
  }
}

@supports not (top: clamp( -31.25rem , -2.8963414634rem  +  -29.2682926829vw , -8.75rem )) {
  .main__picture_img {
    top: calc(-8.75rem + -22.5 * (100vw - 20rem) / 76.875);
  }
}

@supports (left: clamp( -12.5rem , 0.8892276423rem  +  -13.8211382114vw , -1.875rem )) {
  .main__picture_img {
    left: clamp( -12.5rem , 0.8892276423rem  +  -13.8211382114vw , -1.875rem );
  }
}

@supports not (left: clamp( -12.5rem , 0.8892276423rem  +  -13.8211382114vw , -1.875rem )) {
  .main__picture_img {
    left: calc(-1.875rem + -10.625 * (100vw - 20rem) / 76.875);
  }
}

@supports (width: clamp( 23.34375rem , -1.3538109756rem  +  123.487804878vw , 118.275rem )) {
  .main__picture_img {
    width: clamp( 23.34375rem , -1.3538109756rem  +  123.487804878vw , 118.275rem );
  }
}

@supports not (width: clamp( 23.34375rem , -1.3538109756rem  +  123.487804878vw , 118.275rem )) {
  .main__picture_img {
    width: calc(23.34375rem + 94.93125 * (100vw - 20rem) / 76.875);
  }
}

.main__picture_a {
  display: block;
  width: 100px;
  height: 100px;
  padding: 25px;
  border-radius: 50%;
  background: #d6ff3f;
  position: absolute;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.main__picture_a img {
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.main__picture_a:hover {
  background: #fff;
}

.main__picture_a:hover img {
  scale: 1.2;
}

.main__tags {
  margin-top: 0.625rem;
  position: relative;
}

.main__tags_line {
  width: 100%;
}

.main__tags_line img {
  position: absolute;
  right: 0;
  top: -7.5px;
}

.main__tags_line div {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #918299;
  z-index: -1;
}

.main__tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__tags ul li {
  padding: 2px 16px;
  border-radius: 30px;
  border: 1px solid var(--fill-phone, #f9f7f8);
  background: var(--fill-phone, #f9f7f8);
  -webkit-box-shadow: 4px 4px 8px 0px rgba(189, 188, 237, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.8);
          box-shadow: 4px 4px 8px 0px rgba(189, 188, 237, 0.25), -4px -4px 8px 0px rgba(255, 255, 255, 0.8);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.main__tags ul li:hover {
  border-radius: 30px;
  border: 1px solid var(--fill-phone, #f9f7f8);
  background: var(--fill-phone, #f9f7f8);
  -webkit-box-shadow: 4px 4px 8px 0px rgba(189, 188, 237, 0.25), -4px -4px 8px 0px rgba(142, 142, 142, 0.6);
          box-shadow: 4px 4px 8px 0px rgba(189, 188, 237, 0.25), -4px -4px 8px 0px rgba(142, 142, 142, 0.6);
}

.main__marquee {
  position: absolute;
  right: 0;
  width: 100%;
  overflow-x: hidden;
}

.main__marquee_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
}

.main__marquee_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  width: 810px !important;
}

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateX(-1660px);
            transform: translateX(-1660px);
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes marquee {
  from {
    -webkit-transform: translateX(-1660px);
            transform: translateX(-1660px);
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.popup__text {
  margin-top: 1.5rem;
}

.popup__text * {
  width: 100%;
  height: 67vh;
}

.popup__text iframe {
  border-radius: 20px;
}

@supports (margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem )) {
  .about {
    margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem );
  }
}

@supports not (margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem )) {
  .about {
    margin-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 76.875);
  }
}

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.about__content p {
  color: #918299;
}

.about__numbers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

.about__numbers p {
  color: #918299;
}

@supports (font-size: clamp( 0.75rem , 0.6849593496rem  +  0.325203252vw , 1rem )) {
  .about__numbers p {
    font-size: clamp( 0.75rem , 0.6849593496rem  +  0.325203252vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6849593496rem  +  0.325203252vw , 1rem )) {
  .about__numbers p {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 76.875);
  }
}

.about__numbers span {
  color: #240532;
}

@supports (font-size: clamp( 1.875rem , 1.7631578947rem  +  5.5921052632vw , 4rem )) {
  .about__numbers span {
    font-size: clamp( 1.875rem , 1.7631578947rem  +  5.5921052632vw , 4rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.7631578947rem  +  5.5921052632vw , 4rem )) {
  .about__numbers span {
    font-size: calc(1.875rem + 2.125 * (100vw - 2rem) / 38);
  }
}

.about__numbers_number {
  color: #240532;
  padding-top: 40px;
  border-top: 1px solid #918299;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

@supports (margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem )) {
  .popular {
    margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem );
  }
}

@supports not (margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem )) {
  .popular {
    margin-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 76.875);
  }
}

.popular__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

.popular__spollers_item {
  padding: 20px 0;
  border-top: 1px solid #918299;
}

.popular__spollers_item:last-child {
  border-bottom: 1px solid #918299;
}

.popular__spollers_title {
  width: 100%;
}

.popular__spollers_title._spoller-active h3 span::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.popular__spollers_title:hover h3 span {
  border-color: #240532;
  scale: 1.05;
}

.popular__spollers_title:hover h3 span::before,
.popular__spollers_title:hover h3 span::after {
  background: #240532;
}

.popular__spollers_title h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.popular__spollers_title h3 span {
  margin-left: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  border: 1px solid #918299;
  -webkit-transition: border 0.3s ease, scale 0.3s ease;
  transition: border 0.3s ease, scale 0.3s ease;
  position: relative;
}

.popular__spollers_title h3 span::before,
.popular__spollers_title h3 span::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 1px;
  background: #918299;
  top: calc(50% - 0.5px);
  left: calc(50% - 9px);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.popular__spollers_title h3 span::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.popular__spollers_body {
  width: 100%;
}

.popular__spollers_body-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: left;
}

.popular__spollers_body-wrapper img {
  margin-left: auto;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.popular__spollers_body-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
}

.popular__spollers_body-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  width: 100%;
}

.popular__spollers_body-info li {
  width: 100%;
}

.popular__spollers-number-bold {
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 36px */
}

._spoller-active h3 span::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@supports (margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem )) {
  .category {
    margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem );
  }
}

@supports not (margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem )) {
  .category {
    margin-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 76.875);
  }
}

.category__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

.category__slider {
  position: relative;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.category__wrapper {
  position: absolute;
  padding: 80px 0;
  right: 0;
}

.category__slide {
  border-radius: 3px;
  width: 365px;
  height: 365px;
  -webkit-transition: scale 0.3s ease, top 0.3s ease;
  transition: scale 0.3s ease, top 0.3s ease;
  position: relative;
  overflow: hidden;
  top: -54.5px;
}

.category__slide:hover img {
  scale: 1.05;
  z-index: -1;
}

.category__slide img {
  width: 100%;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.category__slide h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  -webkit-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
}

.category__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  position: absolute;
  right: 205px;
  bottom: 74px;
}

.swiper-button-prev {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #918299;
  background: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.swiper-button-prev img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
      -ms-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

.swiper-button-prev:hover,
.swiper-button-prev :active {
  background: #d6ff3f;
}

.swiper-button-next {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #918299;
  background: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.swiper-button-next img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-button-next:hover,
.swiper-button-next :active {
  background: #d6ff3f;
}

.swiper-slide-active {
  scale: 1.3;
  border-radius: 3px;
  top: 0;
}

@supports (margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem )) {
  .news {
    margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem );
  }
}

@supports not (margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem )) {
  .news {
    margin-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 76.875);
  }
}

.news__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

.news__content {
  height: 364px;
  position: relative;
  overflow: hidden;
  padding: 20px;
  border-radius: 3px;
}

.news__content_bg {
  position: absolute;
  top: -1600px;
  z-index: -1;
}

@supports (left: clamp( -43.75rem , -48.6280487805rem  +  24.3902439024vw , -25rem )) {
  .news__content_bg {
    left: clamp( -43.75rem , -48.6280487805rem  +  24.3902439024vw , -25rem );
  }
}

@supports not (left: clamp( -43.75rem , -48.6280487805rem  +  24.3902439024vw , -25rem )) {
  .news__content_bg {
    left: calc(-43.75rem + 18.75 * (100vw - 20rem) / 76.875);
  }
}

.news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  height: 100%;
}

.news__block {
  border-radius: 3px;
  height: 100%;
  background: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-backdrop-filter: blur(21px);
          backdrop-filter: blur(21px);
  width: 642px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (padding: clamp( 0.5rem , 0.125rem  +  0.9375vw , 1.25rem )) {
  .news__block {
    padding: clamp( 0.5rem , 0.125rem  +  0.9375vw , 1.25rem );
  }
}

@supports not (padding: clamp( 0.5rem , 0.125rem  +  0.9375vw , 1.25rem )) {
  .news__block {
    padding: calc(0.5rem + 0.75 * (100vw - 40rem) / 80);
  }
}

.news__block p {
  margin-top: -60px;
}

.news__block_date {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.news__block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -80px;
  gap: 40px;
}

.news__block ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@supports (margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem )) {
  .faq {
    margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem );
  }
}

@supports not (margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem )) {
  .faq {
    margin-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 76.875);
  }
}

.faq__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

.faq__spollers_item {
  padding: 20px;
  border-top: 1px solid #918299;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  position: relative;
}

.faq__spollers_item:last-child {
  border-bottom: 1px solid #918299;
}

.faq__spollers_item::before {
  content: "";
  width: 1px;
  height: 0%;
  background: #918299;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq__spollers_item::after {
  content: "";
  width: 1px;
  height: 1%;
  background: #918299;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq__spollers_item._open {
  background: #d6ff3f;
}

.faq__spollers_item._open::after,
.faq__spollers_item._open::before {
  height: 100%;
}

.faq__spollers_title {
  width: 100%;
}

.faq__spollers_title._spoller-active h3 span::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.faq__spollers_title:hover h3 span {
  border-color: #240532;
  scale: 1.05;
}

.faq__spollers_title:hover h3 span::before,
.faq__spollers_title:hover h3 span::after {
  background: #240532;
}

.faq__spollers_title h3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: left;
  gap: 20px;
}

.faq__spollers_title h3 span {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 30px !important;
  height: 30px !important;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #918299;
  -webkit-transition: border 0.3s ease, scale 0.3s ease;
  transition: border 0.3s ease, scale 0.3s ease;
  position: relative;
}

.faq__spollers_title h3 span::before,
.faq__spollers_title h3 span::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 1px;
  background: #918299;
  top: calc(50% - 0.5px);
  left: calc(50% - 9px);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.faq__spollers_title h3 span::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.faq__spollers_body {
  margin-top: 0.625rem;
  color: #918299;
}

.faq__spollers_body button {
  font-weight: 700;
  color: #240532;
}

.bufer {
  pointer-events: none;
  position: fixed;
  right: 10px;
  max-width: 25rem;
  background: var(--fill-bright, #d6ff3f);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-radius: 3px;
  z-index: 4;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

@supports (bottom: clamp( 0.625rem , 0.299796748rem  +  1.6260162602vw , 1.875rem )) {
  .bufer {
    bottom: clamp( 0.625rem , 0.299796748rem  +  1.6260162602vw , 1.875rem );
  }
}

@supports not (bottom: clamp( 0.625rem , 0.299796748rem  +  1.6260162602vw , 1.875rem )) {
  .bufer {
    bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 76.875);
  }
}

.bufer._loaded {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.bufer._active {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

@supports (margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem )) {
  .contacts {
    margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem );
  }
}

@supports not (margin-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 6.25rem )) {
  .contacts {
    margin-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 76.875);
  }
}

.contacts__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.contacts__content p {
  font-weight: 600;
  line-height: 137%;
  /* 21.92px */
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.contacts__form_inputs {
  width: 100%;
}

.contacts__form_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__form_top input {
  padding: 14px 20px;
  border-radius: 2px;
  border: 1px solid var(--fill-light, #827089);
  background: var(--fill-phone, #f9f7f8);
  width: calc(50% - 5px);
}

.contacts__form_top input::-webkit-input-placeholder {
  color: var(--text-light-gray, #918299);
  /* 1600/Form Text */
  font-family: Winston;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 21.92px */
}

.contacts__form_top input::-moz-placeholder {
  color: var(--text-light-gray, #918299);
  /* 1600/Form Text */
  font-family: Winston;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 21.92px */
}

.contacts__form_top input:-ms-input-placeholder {
  color: var(--text-light-gray, #918299);
  /* 1600/Form Text */
  font-family: Winston;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 21.92px */
}

.contacts__form_top input::-ms-input-placeholder {
  color: var(--text-light-gray, #918299);
  /* 1600/Form Text */
  font-family: Winston;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 21.92px */
}

.contacts__form_top input::placeholder {
  color: var(--text-light-gray, #918299);
  /* 1600/Form Text */
  font-family: Winston;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 21.92px */
}

.contacts__form_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.contacts__form_telegram {
  padding: 14px 20px;
  border-radius: 2px;
  border: 1px solid var(--fill-light, #827089);
  background: var(--fill-phone, #f9f7f8);
  width: 100%;
}

.contacts__form_telegram::-webkit-input-placeholder {
  color: var(--text-light-gray, #918299);
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  /* 1600/Form Text */
  font-family: Winston;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 21.92px */
}

.contacts__form_telegram::-moz-placeholder {
  color: var(--text-light-gray, #918299);
  font-feature-settings: "clig" off, "liga" off;
  /* 1600/Form Text */
  font-family: Winston;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 21.92px */
}

.contacts__form_telegram:-ms-input-placeholder {
  color: var(--text-light-gray, #918299);
  font-feature-settings: "clig" off, "liga" off;
  /* 1600/Form Text */
  font-family: Winston;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 21.92px */
}

.contacts__form_telegram::-ms-input-placeholder {
  color: var(--text-light-gray, #918299);
  font-feature-settings: "clig" off, "liga" off;
  /* 1600/Form Text */
  font-family: Winston;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 21.92px */
}

.contacts__form_telegram::placeholder {
  color: var(--text-light-gray, #918299);
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  /* 1600/Form Text */
  font-family: Winston;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 21.92px */
}

.contacts__form_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.contacts__form_checkbox input {
  width: 15px;
  height: 15px;
  stroke-width: 1px;
  stroke: var(--text-black, #240532);
}

.contacts__form_checkbox input:checked {
  background: transparent;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.38125em) {
  .main__tags_line {
    position: absolute;
    bottom: 23px;
  }
}

@media (min-width: 37.50625em) {
@supports (right: clamp( 1.25rem , 0.5995934959rem  +  3.2520325203vw , 3.75rem )) {
    .main__picture_a {
      right: clamp( 1.25rem , 0.5995934959rem  +  3.2520325203vw , 3.75rem );
    }
}

@supports not (right: clamp( 1.25rem , 0.5995934959rem  +  3.2520325203vw , 3.75rem )) {
    .main__picture_a {
      right: calc(1.25rem + 2.5 * (100vw - 20rem) / 76.875);
    }
}

@supports (bottom: clamp( 1.25rem , 0.5995934959rem  +  3.2520325203vw , 3.75rem )) {
    .main__picture_a {
      bottom: clamp( 1.25rem , 0.5995934959rem  +  3.2520325203vw , 3.75rem );
    }
}

@supports not (bottom: clamp( 1.25rem , 0.5995934959rem  +  3.2520325203vw , 3.75rem )) {
    .main__picture_a {
      bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 76.875);
    }
}
}

@media (min-width: 37.5em) {
  .main__picture_a span {
    display: none;
  }
}

@media (min-width: 40.00625em) {
  .faq__spollers_body {
    padding-right: 40px;
  }
}

@media (min-width: 43.75em) {
  .header__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2] 2fr;
    grid-template-columns: repeat(2, 1fr) 2fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
  }
}

@media (min-width: 43.75625em) {
  .popular__spollers_title {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
}

@media (min-width: 96.88125em) {
  .swiper-slide-active {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
}

@media (max-width: 70em) {
  .popular__spollers_title h3 span {
    display: none;
  }

  .contacts__container {
    -ms-grid-columns: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
  }
}

@media (max-width: 40em) {
  .footer__bg {
    scale: 2;
    top: 100px;
  }

  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .popular__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .category__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .category__slider {
    padding-bottom: 48px;
  }

  .category__wrapper {
    padding: 30px 0;
  }

  .category__navigation {
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    max-width: 6.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .news__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .news__content {
    padding: 0;
  }

  .faq__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .contacts__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 25em) {
  .category__wrapper {
    padding: 0;
  }

  .category__slide {
    top: 0;
  }

  .category__slide h4 {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    padding: 8px 8px;
  }

  .swiper-slide-active {
    scale: 1;
  }
}

@media (max-width: 96.875em) {
  .category__wrapper {
    padding: 70px 0;
  }

  .category__slide {
    width: 290px;
    height: 290px;
  }

  .category__slide {
    top: -29px;
  }

  .category__navigation {
    display: none;
  }

  .swiper-slide-active {
    scale: 1.2;
  }
}

@media (max-width: 86.875em) {
  .main__top_down-text {
    margin-top: 0.625rem;
  }
}

@media (max-width: 84.375em) {
  .news__block {
    width: 100%;
  }
}

@media (max-width: 83.125em) {
  .popular__spollers_body-wrapper img {
    width: 100%;
  }
}

@media (max-width: 57.5em) {
  .news__block ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    margin-top: -60px;
  }
}

@media (max-width: 56.25em) {
  .main__tags ul {
    max-width: 31.25rem;
  }
}

@media (max-width: 43.75em) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__href {
    font-size: 1.75rem;
  }

  ._header-scroll * .menu__list {
    top: max(30vh, 2.5rem);
  }

  .menu__body {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    padding-top: 5rem;
    padding-bottom: 0.25rem;
    background: #f9f7f8;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 100%;
    top: max(30vh, 2.5rem);
    overflow-y: scroll;
    height: calc(100vh - 5rem);
    -webkit-transition: top 0.3s ease;
    transition: top 0.3s ease;
  }

  .menu__link {
    font-size: 1.75rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
    border-radius: 2px;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__top_top-a {
    display: none;
  }

  .popular__spollers_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .popular__spollers_title h3 {
    width: 100%;
    text-align: left;
  }

  .popular__spollers_body-wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .popular__spollers-number-bold {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .main__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .main__picture_a {
    margin-top: 0.625rem;
    border-radius: 40px;
    border: 1px solid #918299;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    height: 50px;
  }

  .main__picture_a img {
    display: none;
  }
}

@media (max-width: 32.5em) {
  .contacts__form_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }

  .contacts__form_top input {
    width: 100%;
  }

  .contacts__br {
    display: none;
  }

  .checkbox__label {
    margin: 0 auto;
  }

  .checkbox__text {
    display: block;
  }
}

@media (max-width: 31.25em) {
  .button {
    margin: 0 auto;
  }

  .main__top_top h1 {
    width: 100%;
  }

  .main__top_down h1 {
    width: 100%;
  }

  .about__numbers {
    grid-column-gap: 5px;
  }

  .popular__spollers_body-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .popular__spollers_body-block {
    width: 100%;
  }

  .bufer {
    width: calc(100% - 20px);
    left: 10px;
    text-align: center;
  }
}

@media (max-width: 29.375em) {
  .main__tags ul {
    display: none;
  }
}

@media (max-width: 26.875em) {
  .news__container {
    gap: 10px;
  }

  .news__content {
    height: auto;
  }

  .news__content_bg {
    display: none;
  }

  .news__block {
    padding: 0;
    gap: 10px;
  }

  .news__block h4 {
    display: none;
  }

  .news__block p {
    margin-top: 0;
  }

  .news__block_date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .news__block_date a {
    width: 100%;
  }

  .news__block ul {
    display: none;
  }
}

@media (min-width: 31.25em) and (max-width: 40em) {
  .popular__spollers_title._spoller-active h3 {
    width: calc(50% - 10px);
    margin-left: auto;
  }

  ._spoller-active h3 {
    width: calc(50% - 10px);
    margin-left: auto;
  }
}